In [2]:
import pandas as pd
df=pd.read_csv('user_nodes_data.csv')

In [3]:
df

,UserId,CurrentProficiency,PreviousProficiency,CurrentAccuracy,PreviousAccuracy,CoveragePercentage,AccuracyPercentage,TotalQuestions,CorrectQuestions,MedianPercentage,PreviousAchievement,IsSkillStuck,SkillId
0,2881,1,1.0,36.36364,9.090909,100.00000,36.36364,11.0,4.0,100.0,NaN,NaN,433
1,2903,4,4.0,100.00000,100.000000,100.00000,100.00000,10.0,10.0,100.0,NaN,NaN,432
2,2909,3,NaN,100.00000,NaN,60.00000,100.00000,6.0,6.0,100.0,NaN,NaN,432
3,2909,2,NaN,100.00000,NaN,54.54546,100.00000,6.0,6.0,100.0,NaN,NaN,433
4,2903,4,4.0,100.00000,100.000000,100.00000,100.00000,11.0,11.0,100.0,NaN,NaN,433
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120703,439664,1,NaN,50.00000,NaN,2.00000,50.00000,2.0,1.0,50.0,NaN,0.0,979
120704,439664,1,4.0,50.00000,100.000000,2.00000,50.00000,2.0,1.0,50.0,100.0,0.0,2026
120705,439664,1,NaN,0.00000,NaN,2.00000,0.00000,2.0,0.0,0.0,NaN,0.0,447
120706,50174,1,NaN,0.00000,NaN,1.00000,0.00000,1.0,0.0,0.0,NaN,0.0,447
120707,50174,1,NaN,0.00000,NaN,1.00000,0.00000,1.0,0.0,0.0,NaN,0.0,454

In [12]:
len(df.SkillId)

120708

In [5]:
df.SkillId.unique()

array([ 433,  432,  448,  450,  514,  431,  434,  449,  513,  438,  445,
        461,  479,  512,  437,  453,  460,  515,  467,  516,  464,  465,
        435,  521,  480,  471,  481,  440,  441,  473,  476,  442,  459,
        526,  475,  439,  523,  457,  525,  487,  485,  443,  486,  472,
        446,  478,  462,  444,  455,  469,  447,  454,  520,  470,  436,
        452,  463,  522,  468,  527,  488,  477,  451,  482,  483,  456,
        524,  474,  974,  941,  975,  715, 2021,  944,  518,  466,  484,
       2022,  717,  719, 2016, 2025,  725,  991, 2012, 2013, 2028,  864,
        962,  978,  989, 2023, 2018,  942,  960, 2027,  712,  980,  721,
        726,  943,  976, 2010, 2011, 2030,  961,  988, 2015,  965,  868,
        867, 2020,  718,  866,  985,  969, 2007,  968,  720, 2006,  963,
        727,  870,  990,  970,  972, 2024,  713,  979, 2008, 2026,  865,
        983,  986, 2005,  716,  982, 2019,  966,  967,  517,  984,  869,
       2029,  977, 3686,  971,  714,  964,  519, 2014,  728,  973,  987,
       2009,  992,  723,  724,  981, 2017,  722,  940, 3687], dtype=int64)

In [8]:
df.SkillId.describe()

count    120708.000000
mean        626.299326
std         393.534337
min         431.000000
25%         441.000000
50%         475.000000
75%         714.000000
max        3687.000000
Name: SkillId, dtype: float64

In [9]:
df.loc[df['SkillId'] == 433]

,UserId,CurrentProficiency,PreviousProficiency,CurrentAccuracy,PreviousAccuracy,CoveragePercentage,AccuracyPercentage,TotalQuestions,CorrectQuestions,MedianPercentage,PreviousAchievement,IsSkillStuck,SkillId
0,2881,1,1.0,36.36364,9.090909,100.00000,36.36364,11.0,4.0,100.0,NaN,NaN,433
3,2909,2,NaN,100.00000,NaN,54.54546,100.00000,6.0,6.0,100.0,NaN,NaN,433
4,2903,4,4.0,100.00000,100.000000,100.00000,100.00000,11.0,11.0,100.0,NaN,NaN,433
6,2939,4,2.0,81.81818,83.333340,100.00000,81.81818,11.0,9.0,100.0,NaN,NaN,433
12,2971,4,4.0,100.00000,100.000000,100.00000,100.00000,11.0,11.0,100.0,NaN,NaN,433
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119467,437790,1,NaN,0.00000,NaN,2.00000,0.00000,2.0,0.0,0.0,NaN,1.0,433
119481,437792,1,NaN,0.00000,NaN,2.00000,0.00000,2.0,0.0,0.0,NaN,1.0,433
119488,50174,1,NaN,0.00000,NaN,2.00000,0.00000,2.0,0.0,0.0,NaN,0.0,433
119491,437858,1,NaN,0.00000,NaN,2.00000,0.00000,2.0,0.0,0.0,NaN,1.0,433
119494,437816,1,NaN,0.00000,NaN,2.00000,0.00000,2.0,0.0,0.0,NaN,0.0,433

In [13]:
len(df.SkillId)

120708

In [ ]:
df.groupby

In [ ]:
for i in range(len(df.SkillId)):
    df.loc[df['SkillId'] == ]